// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples


@import "../valo/valo.scss";
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import 'font-awesome-variants';

@mixin mytheme {
  @include valo;
  
    
.estilo-uno{
   
    font-size: 30px;
    width:200px;
    height: 200px;
    background-color:cornflowerblue;
    color:black;
    border-radius: 5px;
   
    font-family: 'Slabo 27px', serif;
    margin-left: auto;
    cursor: pointer;
}

.estilo-dos{
    font-size: 30px;
    width:200px;
    height: 200px;
    background-color: palegreen;
    color:black;
    border-radius: 5px;
    font-family: 'Slabo 27px', serif;
    margin-left: auto;
    cursor: pointer;
        
    }
.font-awesome-variants{
        font-size: 30px;
    }
    
.layout-estilo{
        margin-bottom: 30px;
        margin-left: 200px;
        margin-right: 30px;
        margin-top: 30px;
       
    }
    
.hl-estilo{
         border-radius: 5px;
        font-family: 'Slabo 27px', serif;
        font-size: 50px;
        width: 100%;
        height: 80px;
        
        margin-top:0;
        background-color: #A3E6FC;
}
    

.estilos-post{
    margin-top: 0px;
        width:100%;
        height:100px;
        border-radius: 5px;
        border: 2px solid black;
        font-family: 'Slabo 27px', serif;
        font-size: 15px;
        background-color: #DFFE96;
        
}
    



   

.animacion{
        width:350px;
        height: 250px;
        font-size: 40px;
        background-color: blueviolet;
        border-radius: 5px;
        border: solid 1px black;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 5px;
    margin-right: 5px;
    }
    

.calificacion-estilos{
 display: inline-block;
 color: #95a5a6; /* gris (normal) */
 }
    
   .calificacion-estilos:hover  {
  color: #f39c12; /* amarillo (seleccionado) */
} 
.someStyle{
   @include animation(valo-animate-out-fade 20s 15s infinite);
       
}

}
